*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 80px;
    gap: 40px;
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    border-radius: 8px;
    height: 300px;
    border: 1px solid rgb(207, 188, 188);
    box-shadow: 10px 10px 15px rgb(166, 168, 168);
}

.img-box{
    width: 100%;
}

img{
    border-radius: 8px;
    margin-top: 35px;
    width: 60%;
    height: 190px;
}

.card-body{
    margin-top: 10px;
}